{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-2" style="width:800px;">
        <div class="card  bg-light">
            <center><div class="card-head">
                <h1 class="h3 mb-3 font-weight-normal mt-4">Veuillez-vous inscrire s'il vous plait!</h1>
            </div></center>
            <center><div class="card-body">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.nom) }}
                    {{ form_row(registrationForm.prenom) }}
                    {{ form_row(registrationForm.adresse) }}
                    {{ form_row(registrationForm.telephone) }}
                    {{ form_row(registrationForm.dateNaissance)}
                    {{ form_row(registrationForm.lieuNaissance) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <button type="submit" class="btn btn-success">S'inscrire</button>
                {{ form_end(registrationForm) }}
             </div></center>
        </div>
    </div>
{% endblock %}
